.git
.github
node_modules
vendor
.env
.env.*
!.env.prod.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.result.cache
compose.yaml
Dockerfile
docker-compose*.yml
*.md
.gitignore
